Source: mobile-manager 
Section: net 
Priority: optional
Maintainer: Escritorio Movistar <escritorio_movistar@tid.es> 
Build-Depends: debhelper (>= 5), cdbs, libc6-dev (>=2.7-10), libusb-dev, python-gtk2-dev, python-dbus, python-glade2, pkg-config, libdbus-1-dev, gnome-doc-utils
Build-Depends-Indep: python-dev (>= 2.5), python-central (>= 0.5.10), intltool (>= 0.35)
Standards-Version: 3.7.2
XS-Python-Version: current

Package: mobile-manager
Architecture: any
Replaces: escritorio-movistar (<< 6.5)
Conflicts: escritorio-movistar (<< 6.5)
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, dbus, python-gtk2, python-glade2, python-dbus, wvdial, usb-modeswitch, ${shlibs:Depends}, ${misc:Depends}
Description: Mobile Manager GPRS/3G daemon
 Mobile Manager is a GPRS/3G daemon developed by Telefonica. 
 This daemon cover the GPRS/3G funtions for develop and work
 over GPRS/3G
